    <style>
         html{
       scroll-behavior:smooth;
         }
         
         body{
             margin: 0;
             padding: 0;
             background: #e0e0e0;
             overflow-x: hidden;
         }

         ::-webkit-scrollbar{
            background-color: #c1c1c1;
            opacity: 0;
         }

         ::-webkit-scrollbar-button{
display: none;   
      }

         ::-webkit-scrollbar-thumb{
            background-color: #a3a3a3;
            transition: 0.3s ease;
         }

         ::-webkit-scrollbar-thumb:hover{
            background-color: #929292;
         }

        #container{
    font-family :rocknroll one; 
          margin: 0;
            padding: 0;
        }
        
    .scroll{
        z-index:1;
        position :fixed;
        bottom:-15%;
        left:50%; transform:translate(-50%,-50%);
        background: white; 
        border-radius: 50%;
        opacity:0;
        text-decoration :none;
        pointer-events:none;
        transition:0.3s linear;
          }
          
     .scroll i{
         font-size :38px;
         color: rgb(0, 0, 0);
         }
        
    .scroll.active{
        pointer-events:auto;
        opacity:1;
        bottom: 10px;
    }
   
         .readonly {
 filter:brightness(60%) blur(2px);
             pointer-events:none;
          transition :0.6s;                  
     }      
                      
         .no-scroll{
             overflow:hidden;
         }   
         
    #sidebar {
    font-family :rocknroll one;
     overflow :scroll;
        width: 70%;
        height: 100%;
        position :absolute;
        z-index :1;   
        background: white; 
        top: 0;
        left:-100%;
        transition :0.3s;
        overflow-x: hidden;
      }
       
   #sidebar .close{
        position :absolute;
        font-size :30px;
        color: white;
        border-radius: 50%;
        right:6px;
        top:6px;
        cursor: pointer;
            }
    
   #sidebar h1,h2,h3{
       margin: 0;
   }
      
   #sidebar .head{
       padding:50px;
       color: white;
       text-align :center;
      background: #232f3f;
   }   
   
  #sidebar .ama_home{
      padding: 20px;
   border-bottom :5px solid grey;
      align-items :center;
   justify-content:space-between ;
    display :flex;
      color: black;
  }   
  
    #sidebar .ama_home i{
      color: black;
      font-size :25px;
        } 
       #sidebar .nav_details .detail1{
         display :flex;
         flex-direction :column; 
    border-bottom :5px solid grey;
    gap:35px;
    padding: 30px 25px;
            }   
     
      .nav{
      display :flex;
    justify-content :space-between;
  align-items :center; 
  place-items:center;     
        }
               
     .nav i{
     font-size: 30px;
     color: white;
 }

 .nav .shop, .location{
        display:none;
    }
 
 .nav .delivery{
     display:none;
 }
 
 .nav .sign, .returns{
     display:none;
 }
 
 .nav .select_1 {
     display :none;
      }
 
        .nav img{
           width: 130px;
        } 
        
        .header{
  background:#232f3f;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding:25px 20px;
   display:flex;
   flex-direction :column;   
   gap:30px;  
        }
   
    .nav .inp1 {
        display :none;
            }
       
       .header .inp2{
        display :flex;
        align-items :center;   
    }
      
      .header .inp2 .input_2{
                width: 100%;
          padding: 18px;
   border-radius: 6px;
          font-weight:bold;
          border:0;
        }
   
  .header .best_collect{
     font-size:23px;
     font-weight:bold;
     color: white;
  }
       
    .collection{
        justify-content :space-evenly;   
        color:white;
        display:flex;  
        gap:15px; 
        overflow-x:scroll;
        overflow-y: hidden;
       }

       .collection .all{
        display: none;
       }
       
    .collection div{
       display :flex;
       flex-direction :column;
       place-items :center; 
       row-gap:8px;
       font-size:13px;
       }       
       
    .collection i{
    font-size :23px;
          padding: 9px 14px;
        background:#ffffff26;
        border-radius: 10px;
        transition :0.3s;
     }
    
    .collection i:hover{
        color: black;
        background: white;
    }
    
     .t1{
        display :none;
    }
    
    .t2{
        width: 100%;
        display :block;
         -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0,0,0,1),rgba(0,0,0,0.5), rgba(0,0,0,0));
    }
    
    #section{
    margin: -100px 0px 50px 20px;
    }
    
   #section .pop_pro{
    backdrop-filter:blur(300px);
    font-size:20px;
    font-weight:bold;
    color: black;
    padding: 0px 0px 25px;
    }
    
    #section .images{
        width: 100%;
        display:flex;
        justify-content: start;
        gap:15px;
        overflow-x:scroll;
        overflow-y: hidden;
    }
    
    #section .images div{
        position: relative;
    }
    
  #section .images div .img_name{
        position: absolute;
    font-family:none;
    font-size:20px;
         bottom:15px;
        left:15px;
        color: yellow;
        font-weight:bold;
       }
    
  #section .images div .heart{
  transition :0.3s;
      position: absolute; 
     top:10px;
        right:10px;
        border-radius: 8px;
     color: white;
     font-size :23px;
         padding: 5px;
        background: #ffffff55;
         }
    
     #section .images div img{
         width: 150px;
         height: 210px;
         object-fit:cover; 
         border-radius: 15px; 
         transition:0.1s; 
       }
    
  #section .images img:hover{
   box-shadow :3px 3px 30px black;
   transform: scale(1.01);
       }
       
   .main_4div{
      display :none;
   }
       
   #aside{
       background:white;
       display :flex;
       flex-wrap:wrap;
       justify-content :center;
       padding:30px 10px;   
       gap:40px 10px;
       }
     
     #aside .description{
     width: 170px;
     border:2px solid black;
         border-radius: 8px;
         }
 
  #aside .description .details{
       padding:3px 0px 0px;
       align-items:center;
        display :flex;
        flex-direction :column;
        row-gap:8px;
        font-family :arial;  
    font-weight :bold;
         }     
         #aside .description .details .name{ font-family :rocknroll one; 
 border-bottom:2px dotted black;}  
  
#aside .description .details .price{    color: green;
       font-family :serif;  }   
 #aside .description .details .price  sup{text-decoration:line-through;
     color: red;}        
                       
#aside .description .details a{
     width: 100%;
     color: white;
     text-align :center;
    background: grey;
    text-decoration :none;
 border-radius: 0px 0px 6px 6px;
     padding:10px 0px;
}

       #aside .description img {
        background-color: #1d1f23;
    border-radius: 6px 6px 0 0;
    width: 100%;
    height: 200px;
    object-fit: contain;
    transition: all 0.3s ease;
    background-position: top;
}
                  
       #footer{
           background: #34363e;
           padding: 30px;
           color: white;
           row-gap:35px;
           display:grid;    grid-template-columns:repeat(2,1fr);   }
       
     #copyright {
         background: #1d1f23;
         color: white;
         padding:40px 20px;
     }
     
     @media(min-width:800px){
     #sidebar {
display: block;
width: 330px;          
    }
     
     .header{
         padding:0 0 13px;
         gap:8px;
         }
     
     .nav{
        font-size: 12px;
     padding: 3px 0px;
     background: #131A22;
     align-items: center;
      display :flex; 
        }
       
  .nav img, .delivery, .select_1, .sign, .returns{
flex: 1;
  text-align :center;
      border: 1px solid transparent;
      height: 38px;
  }

  .nav img{
    padding: 0px 3px;
  }

  .nav .shop{
    border: 1px solid transparent;
    display:block;    
    height: 38px;
    flex:0.5;
    text-align: center;
  }
  
  .nav img:hover, .delivery:hover, .sign:hover, .returns:hover, .shop:hover, .select_1:hover{
  border:1px solid white;
  }
     
    .nav .delivery{
          display:block;
          color: white;
           }

  .nav .sign, .returns{
     display:block;
     color: white;
 }
           
    .nav i{
        display:none;
    }

     .nav .delivery .location{
        display:block;
    }  
    
    .nav .inp1{
        display :flex;
        align-items :center;   
        flex:4;
    }
   
  .nav .inp1 .input_1{
       border:0;
       width: 100%;
            padding: 12px;
   border-radius: 6px;
          font-weight:bold;
       }

    .header .inp2{
         display:none;
         }
         
  .nav .select_1{
        display :block;
        text-align: center;
        flex: 0.5;
  }
         
  .nav .select_1 select{
    background-color: transparent;
    margin-top: 5px;
    padding: 6px 8px;
      border:0;
      font-weight :bold;
      font-size :12px;   
      color: white; 
         }

         .nav .select_1 select option{
            color: black;
         }
         
    .header .best_collect{
     display:none;
  }
  
  .collection {
      padding:0 40px 0;
      gap:10px;
      justify-content: start;
      align-items: center;
      overflow: hidden;
  }  
  
  .collection .all{
    display: block;
    font-size: 17px;
    border: 2px solid white;
    padding: 6px 13px;
    cursor: pointer;
     display: flex;   
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap:4px;
}

   .collection .all i{
    display: block;
    font-size: 16px;
    background-color: transparent;
    padding: 0;
   }
  
  .collection div{
      padding: 6px 15px;
  }  
  
  .collection div:hover{
      color: black;
      background: white;
   }
  
  .collection i{
      display :none;
  } 
  
    .t1{
             width: 100%;
        display :block;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0,0,0,1),rgba(0,0,0,0.5), rgba(0,0,0,0));
    }
    
    .t2{
        display :none;
    }
    
      #section{
    margin: -200px 10px 20px;
    text-align :center;
    }
    
    #section .pop_pro{
        display: inline-block;
       padding: 15px;
       border-radius: 10px;
       margin-bottom: 30px;
       background-color: #ffffff67;
    }
    
  #section .images{
        gap:30px;
        justify-content :space-evenly;
            }

     .main_4div{
        padding:60px 15px;
      display :flex;
      justify-content: center;
      align-items: center;
flex-wrap: wrap;     
  gap: 25px 20px;
     }
   
   .div4{
   width: 300px;
   background: white;
   padding: 20px 10px; 
   display :flex;
       flex-direction :column; 
      justify-content:center;
      gap:25px; 
      }
      
   .div4_des{
   font-family :arial;
       font-size :21px;
       font-weight :bold;
          }
      
   .div4 .img4{
    font-size: 16px;
    font-family: none;
   gap:20px 13px;
      display :grid; grid-template-columns :repeat(2,1fr);
    }

    .div4 .img4 div{
        cursor: pointer;
        color: #3f3f3f;
    }
      
 .div4 .img4 div img{
 object-fit: contain;
     width: 100%;
     height: 140px;
 }
    
      #aside{
        display: none;
         }
   }
    </style>